@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500);

@font-face {
    font-family: 'haloregular';
    src: url(/fonts/halo-webfont.woff2) format('woff2'),
         url(/fonts/halo-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  }

@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: italic;
  font-weight: 400;
  }


html, body {

  background:black;
  width: 100%;
  height: 100%;
}


#exit {
  height:30px;
  width:30px;
  background:#0F1020;
  border: 1px solid black;
  border-radius:50px;
  position:Absolute;
  
  z-index:50;
  right:-35px;
  -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  left: -3%;
  top:-150px;
  margin-top: 35%;
  
}
#exit:after {
  content:"";
  display:block;
  height:15px;
  width:15px;
  background:transparent;
  border-radius:50px;
  position:absolute;
  top:5px;
  left:5px;
  
  border:3px solid orange;
  border-top-color:transparent;
  
}

#exit:before {
  content:"";
  display:block;
  height:10px;
  width:3px;
  background:orange;
  z-index:70;
  position: Absolute;
  right:13px;
  top:6px;
  
}
#circle {
  height:40px;
  width:40px;
  background:transparent;
  border:1px solid white;
  border-radius:50px;
  position:absolute;

  z-index:40;
  right:-20px;

  margin-top: 35%;
  left: -3.9%;
  top:-153.9px;
}

#exit:hover {
  background:#7353BA;
  
}



#allthethings {
  width:auto;
  height:auto;
  
  border-left: 300px solid transparent;
  border-right:300px solid transparent;
  border-top: 300px solid transparent;
  border-radius: px;
  position: relative;;
  top:250px;
  left:2px;
  z-index: 1;
  margin-left: 550px;
  align-items: center;
  align-self: center;
  
  
  
  
  
}

#single {
  
  position:relative;
  bottom:330px;
  right:300px;
  height:50px;
  width:600px;
  background:#0F1020;
  text-align:center;
  font-size:30px;
 background-size: 1px 300%;
 -webkit-transition:0.5s;
  transition:0.5s;
  color:orange;
  font-family:shadows into light;
  
  cursor:pointer;
  
  
  
}

#single:hover {
  background:#7353BA;
  color:white;
-webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
  
  
}

#multiplayer:hover {
  background:#7353BA;
  color:white;
   
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
  
}

#credits:hover {
  background:#7353BA;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

#options:hover {
  background:#7353BA;
  color:white;
  -webkit-transform:rotate(-2deg);
  transform:rotate(-2deg);
  
}

/*#left {
  height:100px;
    width:600px;
  background:orange;
  position:absolute;
  z-index:6;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
  top:-175px;
  right:-104px;
  border-top:1px solid white;
  
}
#right {
  height:100px;
  width:600px;
  background:orange;
  position:absolute;
  top:-229px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index:7;
  left:-56px;
  border-top:1px solid white;
  
  
}
*/


#single p {
  position:relative;
  top:2px;
  right:4px;
  
  
}

#multiplayer {
  height:50px;
  width:500px;
  background:#0F1020;
  position:relative;
  bottom:345px;
  right:240px;
  text-align:center;
  font-size:30px;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
   
  
}
#multiplayer p {
  position:relative;
  top:0px;
  right:9px;
  
}

#options {
  
  height:50px;
  width:400px;
  background:#0F1020;
  position:relative;
  bottom:360px;
  right:200px;
  font-size:30px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}

#options p {
  position:relative;
  top:0px;
  right:4px;
  
}

#credits {
  height:50px;
  width:300px;
  position:relative;
  background:#0F1020;
  bottom:375px;
  font-size:30px;
  right:150px;
  text-align:center;
  font-family:shadows into light;
  color:orange;
   -webkit-transition:0.5s;
  transition:0.5s;
  cursor:pointer;
  
}

#credits p {
  position:relative;
  top:0px;
  
}

#title {

    position: relative;
    z-index: 1;
    font-family: 'haloregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    top: -500px;
    left: -300px;
    color: #7353BA;
    text-align: center;
    
}

#title:hover{
    color: #0F1020;
  text-shadow:0px 0px 30px #FAA6FF;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}



/*css 2*/

#myCanvas{
    z-index: -2;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

/*css 3*/



/* Start Feed In Social Media */
.feed-in{
  background-color:#FF003D;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: arial;
  z-index: 1;
  position: relative;
  vertical-align: center;
  margin-bottom: 250px;
  
}

ul{
  padding: 0px;
}

.feed-in ul li{
  list-style: none;
  float: left;
  margin: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
  text-align: center;
  font-size: 40px;
  background-color: #FFF;
  position: relative;
  transition: all .5s ease-in-out;
  z-index: 1;
}

.feed-in ul li:hover{
  color: #FFF;
}

.feed-in ul li:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#FF003D;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  transform: scale(0);
  z-index: -1;
}

.feed-in ul li:hover:before{
  transform: scale(.9);
}
/* End Feed In Social Media */

#images {
  background-size: 50px 50px;
  align-items: center;
}

a {
  padding: 50px;
}

#social-h1 {
  z-index: 1; 
  position: relative;
  font-family: SequentialistBB;
  font-size: 50px;
  background-color:#FF003D;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  vertical-align: center;
  margin-bottom: 250px;
  
}

#social-h1:hover {
  background-color:darkturquoise;
}