@import "compass/css3";

.button{
  &,
  &:visited{
    display: inline-block;
    padding: 1rem;
    color: white;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    transition: all 250ms;
  }

  $socialList:
    twitter #09f,
    facebook #469,
    github #222,
    google-plus #d43,
    linkedin #07d,
    pinterest #c22;
  
  @each $item in $socialList{
    $className: nth($item, 1);

    &.#{$className}{
      $bg-color: nth($item, 2);
      background-color: $bg-color;
  
      &:hover,
      &:hover{
        background-color: lighten($bg-color, 15%);
      }
  
      &:active{
        background-color: lighten($bg-color, 25%);
      }
  }
}

  &:focus,
  &:hover{
    cursor: pointer;
  }
}

/* styling */
 html {
	width: 100%;
	height: 100%;
	background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

#wrap {
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
}